body {
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}

.plants{
  display: flex;
  justify-content: center;
}

.plant{
  margin: 26px;
  margin-top: 32px;
  max-width: 200px;
}
img {
  width: 100px;
  height: 100px;
}

.title {
  font-size: 36px;
  font-weight: 900;
}
